In [2]:
# Data Explority with python in San ferancisco Salaries
import pandas as pd

In [3]:
# get glimpse about our data
df=pd.read_csv('Salaries.csv')
df.head(5)

C:\Users\AS\AppData\Local\Temp\ipykernel_12876\403471214.py:1: DtypeWarning: Columns (3,4,5,6,12) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv('Salaries.csv')

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

In [6]:
# get information about our data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148049 non-null  object
 4   OvertimePay       148654 non-null  object
 5   OtherPay          148654 non-null  object
 6   Benefits          112495 non-null  object
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            38119 non-null   object
dtypes: float64(3), int64(2), object(8)
memory usage: 14.7+ MB

In [7]:
# describe the data
df.describe()

                  Id       TotalPay  TotalPayBenefits           Year  Notes
count  148654.000000  148654.000000     148654.000000  148654.000000    0.0
mean    74327.500000   74768.321972      93692.554811    2012.522643    NaN
std     42912.857795   50517.005274      62793.533483       1.117538    NaN
min         1.000000    -618.130000       -618.130000    2011.000000    NaN
25%     37164.250000   36168.995000      44065.650000    2012.000000    NaN
50%     74327.500000   71426.610000      92404.090000    2013.000000    NaN
75%    111490.750000  105839.135000     132876.450000    2014.000000    NaN
max    148654.000000  567595.430000     567595.430000    2014.000000    NaN

In [8]:
# get base Pay column
df['BasePay']

0            167411.18
1            155966.02
2            212739.13
3              77916.0
4             134401.6
              ...
148649            0.00
148650    Not Provided
148651    Not Provided
148652    Not Provided
148653            0.00
Name: BasePay, Length: 148654, dtype: object

In [ ]:
# get average base Pay
df['BasePay'].mean()

In [ ]:
# get hieghest amount of overtimePay
df['OvertimePay'].max()

In [18]:
# get info about one Employee
df[df['EmployeeName']=='GARY JIMENEZ']

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN

In [19]:
# get some info about one Employee
df[df['EmployeeName']=='GARY JIMENEZ']['JobTitle']

1    CAPTAIN III (POLICE DEPARTMENT)
Name: JobTitle, dtype: object

In [20]:
# how much does this employee make (with benifits)
df[df['EmployeeName']=='GARY JIMENEZ']['TotalPayBenefits']

1    538909.28
Name: TotalPayBenefits, dtype: float64

In [31]:
# get the name of the highest paid person[without benfits]
MaxPayment=df['TotalPay'].max()
df[df['TotalPay']==MaxPayment]['EmployeeName']

0    NATHANIEL FORD
Name: EmployeeName, dtype: object

In [32]:
# get the name of the lowest paid person[without benfits]
MinPayment=df['TotalPay'].min()
df[df['TotalPay']==MinPayment]['EmployeeName']

148653    Joe Lopez
Name: EmployeeName, dtype: object

In [36]:
# get average BasePay of all employees from 2011 to 2014
df.groupby('Year').mean()['TotalPay']

C:\Users\AS\AppData\Local\Temp\ipykernel_12876\2099980719.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby('Year').mean()['TotalPay']

Year
2011    71744.103871
2012    74113.262265
2013    77611.443142
2014    75463.918140
Name: TotalPay, dtype: float64

In [37]:
# get number of unique job titles
df['JobTitle'].nunique()

2159

In [42]:
# get top 5 most popular jobs
df['JobTitle'].value_counts().head(5)

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

In [43]:
# get bottom 5 most popular jobs
df['JobTitle'].value_counts().tail(5)

CHIEF HOUSING INSPECTOR                           1
TRAFFIC SIGNAL OPERATOR                           1
COURT COMPUTER FACILITIES COORDINATOR             1
AUTOMOTIVE BODY AND FENDER WORKER SUPERVISOR I    1
VICTIM & WITNESS TECHNICIAN                       1
Name: JobTitle, dtype: int64

In [45]:
# get no of jobs that represnted by only one person in 2014
(df[df['Year']==2014]['JobTitle'].value_counts()==1).sum()

175

In [ ]:
    # get no of people that have word chief in thier jobs
def cheif(text):
    if 'chief' in (text.lower()):
        return True
    else:
        return False
    
(df['JobTitle'].apply(lambda x:cheif(x))).sum()

In [59]:
# get corelation between length of titlejob  and salary
df['notitles']=df['JobTitle'].apply(len)
df['notitles']


df[['notitles','TotalPayBenefits']].corr()

                  notitles  TotalPayBenefits
notitles          1.000000         -0.036878
TotalPayBenefits -0.036878          1.000000