In [3]:
import numpy as np
import pandas as pd
import seaborn as sn
import matplotlib.pyplot as plt

In [11]:
df=pd.read_csv('df_1.csv')

In [12]:
df

,Unnamed: 0,Site,Domain Name,Category,Principal country/territory
0,0,Google Search,google.com,Computers Electronics and Technology > Search ...,United States
1,1,YouTube,youtube.com,Arts & Entertainment > Streaming & Online TV,United States
2,2,Facebook,facebook.com,Computers Electronics and Technology > Social ...,United States
3,3,Twitter,twitter.com,Computers Electronics and Technology > Social ...,United States
4,4,Instagram,instagram.com,Computers Electronics and Technology > Social ...,United States
5,5,Baidu,baidu.com,Computers Electronics and Technology > Search ...,China
6,6,Wikipedia,wikipedia.org,Reference Materials > Dictionaries and Encyclo...,United States
7,7,Yandex,yandex.ru,Computers Electronics and Technology > Search ...,Russia
8,8,Yahoo,yahoo.com,News & Media Publishers,United States
9,9,xVideos,xvideos.com,Adult,Czech Republic
10,10,WhatsApp,whatsapp.com,Computers Electronics and Technology > Social ...,United States
11,11,Pornhub,pornhub.com,Adult,Canada
12,12,Xnxx,xnxx.com,Adult,France
13,13,Amazon,amazon.com,eCommerce & Shopping > Marketplace,United States
14,14,Yahoo JP,yahoo.co.jp,News & Media Publishers,Japan
15,15,Live,live.com,Computers Electronics and Technology > Email,United States
16,16,Netflix,netflix.com,Arts & Entertainment > Streaming & Online TV,United States
17,17,Reddit,reddit.com,Computers Electronics and Technology > Social ...,United States
18,18,TikTok,tiktok.com,Computers Electronics and Technology > Social ...,China
19,19,Docomo,docomo.ne.jp,Computers Electronics and Technology > Telecom...,Japan
20,20,LinkedIn,linkedin.com,Computers Electronics and Technology > Social ...,United States
21,21,Office,office.com,Computers Electronics and Technology > Program...,United States
22,22,Samsung,samsung.com,Computers Electronics and Technology > Consume...,South Korea
23,23,Yandex Turbo Pages,turbopages.org,News & Media Publishers,Russia
24,24,VK,vk.com,Computers Electronics and Technology > Social ...,Russia
25,25,xHamster,xhamster.com,Adult,Cyprus
26,26,Weather,weather.com,Science and Education > Weather,United States
27,27,Twitch,twitch.tv,Games > Video Games Consoles and Accessories,United States
28,28,Mail.Ru,mail.ru,Computers Electronics and Technology > Email,Russia
29,29,Naver,naver.com,News & Media Publishers,South Korea
30,30,Discord,discord.com,Computers Electronics and Technology > Social ...,United States
31,31,Bing,bing.com,Computers Electronics and Technology > Search ...,United States
32,32,Roblox,roblox.com,Games > Video Games Consoles and Accessories,United States
33,33,Bilibili,bilibili.com,Arts & Entertainment > Animation and Comics,China
34,34,Microsoft Online,microsoftonline.com,Computers Electronics and Technology > Program...,United States
35,35,Pinterest,pinterest.com,Computers Electronics and Technology > Social ...,United States
36,36,Zoom,zoom.us,Computers Electronics and Technology > Other C...,United States
37,37,QQ,qq.com,News & Media Publishers,China
38,38,DuckDuckGo,duckduckgo.com,Computers Electronics and Technology > Search ...,United States
39,39,Microsoft,microsoft.com,Computers Electronics and Technology > Program...,United States
40,40,Fandom,fandom.com,Arts & Entertainment > Other Arts and Entertai...,United States
41,41,Quora,quora.com,Reference Materials > Dictionaries and Encyclo...,United States
42,42,Yahoo! News,news.yahoo.co.jp,News & Media Publishers,United States
43,43,RealSRV,realsrv.com,Adult,United States
44,44,eBay,ebay.com,eCommerce & Shopping > Marketplace,United States
45,45,MSN,msn.com,News & Media Publishers,United States
46,46,Globo,globo.com,News & Media Publishers,Brazil
47,47,Stripchat,stripchat.com,Adult,Cyprus
48,48,Booking,booking.com,Travel and Tourism > Accommodation and Hotels,Netherlands
49,49,OK.ru,ok.ru,Computers Electronics and Technology > Social ...,Russia

In [13]:
df.head(3)

,Unnamed: 0,Site,Domain Name,Category,Principal country/territory
0,0,Google Search,google.com,Computers Electronics and Technology > Search ...,United States
1,1,YouTube,youtube.com,Arts & Entertainment > Streaming & Online TV,United States
2,2,Facebook,facebook.com,Computers Electronics and Technology > Social ...,United States

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Unnamed: 0                   50 non-null     int64
 1   Site                         50 non-null     object
 2   Domain Name                  50 non-null     object
 3   Category                     50 non-null     object
 4   Principal country/territory  50 non-null     object
dtypes: int64(1), object(4)
memory usage: 2.1+ KB

In [15]:
df.describe()

       Unnamed: 0
count    50.00000
mean     24.50000
std      14.57738
min       0.00000
25%      12.25000
50%      24.50000
75%      36.75000
max      49.00000

In [16]:
df.sample(5)

,Unnamed: 0,Site,Domain Name,Category,Principal country/territory
15,15,Live,live.com,Computers Electronics and Technology > Email,United States
30,30,Discord,discord.com,Computers Electronics and Technology > Social ...,United States
22,22,Samsung,samsung.com,Computers Electronics and Technology > Consume...,South Korea
33,33,Bilibili,bilibili.com,Arts & Entertainment > Animation and Comics,China
25,25,xHamster,xhamster.com,Adult,Cyprus

In [26]:
df.rename(columns={'Unnamed: 0':'WebId'},inplace=True)

In [18]:
df.sample(5)

,Unnamed: 0,Site,Domain Name,Category,Principal country/territory
47,47,Stripchat,stripchat.com,Adult,Cyprus
35,35,Pinterest,pinterest.com,Computers Electronics and Technology > Social ...,United States
3,3,Twitter,twitter.com,Computers Electronics and Technology > Social ...,United States
4,4,Instagram,instagram.com,Computers Electronics and Technology > Social ...,United States
10,10,WhatsApp,whatsapp.com,Computers Electronics and Technology > Social ...,United States

In [19]:
df['Site'].unique()

array(['Google Search', 'YouTube', 'Facebook', 'Twitter', 'Instagram',
       'Baidu', 'Wikipedia', 'Yandex', 'Yahoo', 'xVideos', 'WhatsApp',
       'Pornhub', 'Xnxx', 'Amazon', 'Yahoo JP', 'Live', 'Netflix',
       'Reddit', 'TikTok', 'Docomo', 'LinkedIn', 'Office', 'Samsung',
       'Yandex Turbo Pages', 'VK', 'xHamster', 'Weather', 'Twitch',
       'Mail.Ru', 'Naver', 'Discord', 'Bing', 'Roblox', 'Bilibili',
       'Microsoft Online', 'Pinterest', 'Zoom', 'QQ', 'DuckDuckGo',
       'Microsoft', 'Fandom', 'Quora', 'Yahoo! News', 'RealSRV', 'eBay',
       'MSN', 'Globo', 'Stripchat', 'Booking', 'OK.ru'], dtype=object)

In [29]:
df['Site'].nunique()

50

In [30]:
df['Site'].value_counts()

Google Search         1
QQ                    1
Twitch                1
Mail.Ru               1
Naver                 1
Discord               1
Bing                  1
Roblox                1
Bilibili              1
Microsoft Online      1
Pinterest             1
Zoom                  1
DuckDuckGo            1
YouTube               1
Microsoft             1
Fandom                1
Quora                 1
Yahoo! News           1
RealSRV               1
eBay                  1
MSN                   1
Globo                 1
Stripchat             1
Booking               1
Weather               1
xHamster              1
VK                    1
Yandex Turbo Pages    1
Facebook              1
Twitter               1
Instagram             1
Baidu                 1
Wikipedia             1
Yandex                1
Yahoo                 1
xVideos               1
WhatsApp              1
Pornhub               1
Xnxx                  1
Amazon                1
Yahoo JP              1
Live                  1
Netflix               1
Reddit                1
TikTok                1
Docomo                1
LinkedIn              1
Office                1
Samsung               1
OK.ru                 1
Name: Site, dtype: int64

In [28]:
df['WebId'].nunique()

50

In [31]:
df['Domain Name'].nunique()

50

In [32]:
df['Domain Name'].unique()

array(['google.com', 'youtube.com', 'facebook.com', 'twitter.com',
       'instagram.com', 'baidu.com', 'wikipedia.org', 'yandex.ru',
       'yahoo.com', 'xvideos.com', 'whatsapp.com', 'pornhub.com',
       'xnxx.com', 'amazon.com', 'yahoo.co.jp', 'live.com', 'netflix.com',
       'reddit.com', 'tiktok.com', 'docomo.ne.jp', 'linkedin.com',
       'office.com', 'samsung.com', 'turbopages.org', 'vk.com',
       'xhamster.com', 'weather.com', 'twitch.tv', 'mail.ru', 'naver.com',
       'discord.com', 'bing.com', 'roblox.com', 'bilibili.com',
       'microsoftonline.com', 'pinterest.com', 'zoom.us', 'qq.com',
       'duckduckgo.com', 'microsoft.com', 'fandom.com', 'quora.com',
       'news.yahoo.co.jp', 'realsrv.com', 'ebay.com', 'msn.com',
       'globo.com', 'stripchat.com', 'booking.com', 'ok.ru'], dtype=object)

In [33]:
df['Domain Name'].value_counts()

google.com             1
qq.com                 1
twitch.tv              1
mail.ru                1
naver.com              1
discord.com            1
bing.com               1
roblox.com             1
bilibili.com           1
microsoftonline.com    1
pinterest.com          1
zoom.us                1
duckduckgo.com         1
youtube.com            1
microsoft.com          1
fandom.com             1
quora.com              1
news.yahoo.co.jp       1
realsrv.com            1
ebay.com               1
msn.com                1
globo.com              1
stripchat.com          1
booking.com            1
weather.com            1
xhamster.com           1
vk.com                 1
turbopages.org         1
facebook.com           1
twitter.com            1
instagram.com          1
baidu.com              1
wikipedia.org          1
yandex.ru              1
yahoo.com              1
xvideos.com            1
whatsapp.com           1
pornhub.com            1
xnxx.com               1
amazon.com             1
yahoo.co.jp            1
live.com               1
netflix.com            1
reddit.com             1
tiktok.com             1
docomo.ne.jp           1
linkedin.com           1
office.com             1
samsung.com            1
ok.ru                  1
Name: Domain Name, dtype: int64

In [34]:
df['Principal country/territory'].value_counts()

United States     30
Russia             5
China              4
Japan              2
South Korea        2
Cyprus             2
Czech Republic     1
Canada             1
France             1
Brazil             1
Netherlands        1
Name: Principal country/territory, dtype: int64

In [35]:
df['Principal country/territory'].nunique()

11

In [36]:
df['Principal country/territory'].unique()

array(['United States', 'China', 'Russia', 'Czech Republic', 'Canada',
       'France', 'Japan', 'South Korea', 'Cyprus', 'Brazil',
       'Netherlands'], dtype=object)

In [37]:
df['Category'].unique()

array(['Computers Electronics and Technology > Search Engines',
       'Arts & Entertainment > Streaming & Online TV',
       'Computers Electronics and Technology > Social Media Networks',
       'Reference Materials > Dictionaries and Encyclopedias',
       'News & Media Publishers', 'Adult',
       'eCommerce & Shopping > Marketplace',
       'Computers Electronics and Technology > Email',
       'Computers Electronics and Technology > Telecommunications',
       'Computers Electronics and Technology > Programming and Developer Software',
       'Computers Electronics and Technology > Consumer Electronics',
       'Science and Education > Weather',
       'Games > Video Games Consoles and Accessories',
       'Arts & Entertainment > Animation and Comics',
       'Computers Electronics and Technology > Other Computers Electronics and Technology',
       'Arts & Entertainment > Other Arts and Entertainment',
       'Travel and Tourism > Accommodation and Hotels'], dtype=object)

In [38]:
df['Category'].nunique()

17

In [39]:
df['Category'].value_counts()

Computers Electronics and Technology > Social Media Networks                         11
News & Media Publishers                                                               8
Adult                                                                                 6
Computers Electronics and Technology > Search Engines                                 5
Computers Electronics and Technology > Programming and Developer Software             3
Reference Materials > Dictionaries and Encyclopedias                                  2
eCommerce & Shopping > Marketplace                                                    2
Computers Electronics and Technology > Email                                          2
Arts & Entertainment > Streaming & Online TV                                          2
Games > Video Games Consoles and Accessories                                          2
Arts & Entertainment > Animation and Comics                                           1
Arts & Entertainment > Other Arts and Entertainment                                   1
Computers Electronics and Technology > Other Computers Electronics and Technology     1
Computers Electronics and Technology > Telecommunications                             1
Science and Education > Weather                                                       1
Computers Electronics and Technology > Consumer Electronics                           1
Travel and Tourism > Accommodation and Hotels                                         1
Name: Category, dtype: int64

In [44]:
df.isnull().sum()

WebId                          0
Site                           0
Domain Name                    0
Category                       0
Principal country/territory    0
dtype: int64

In [45]:
df.duplicated().sum()

0

In [46]:
df.sample(5)

,WebId,Site,Domain Name,Category,Principal country/territory
1,1,YouTube,youtube.com,Arts & Entertainment > Streaming & Online TV,United States
6,6,Wikipedia,wikipedia.org,Reference Materials > Dictionaries and Encyclo...,United States
37,37,QQ,qq.com,News & Media Publishers,China
26,26,Weather,weather.com,Science and Education > Weather,United States
25,25,xHamster,xhamster.com,Adult,Cyprus

In [53]:
df.to_excel('dataModfied.xlsx')

In [4]:
data=pd.read_csv('world_cup_2022_catar.csv')

In [5]:
data.head(4)

,stage,date,pens,pens_home_score,pens_away_score,team_name_home,team_name_away,team_home_score,team_away_score,possession_home,...,duels_won_home,duels_won_away,prediction_team_home_win,prediction_draw,prediction_team_away_win,prediction_quantity,location,events_list,lineup_home,lineup_away
0,Final,18/12/2022,True,4,2,Argentina,France,3,3,54%,...,40%,60%,64%,3%,33%,1002332,Lusail Iconic Stadium,"[{'event_team': 'home', 'event_time': "" 23' "",...","[{'player_name': ' Di María ', 'player_number'...","[{'player_name': ' Giroud ', 'player_number': ..."
1,Match for third place,17/12/2022,False,False,False,Croatia,Morocco,2,1,51%,...,53%,47%,42%,4%,54%,367156,Khalifa International Stadium,"[{'event_team': 'home', 'event_time': "" 7' "", ...","[{'player_name': ' Livaja ', 'player_number': ...","[{'player_name': ' Boufal ', 'player_number': ..."
2,Semi-finals,14/12/2022,False,False,False,France,Morocco,2,0,38%,...,58%,42%,58%,3%,39%,720768,Al Bayt Stadium,"[{'event_team': 'home', 'event_time': "" 5' "", ...","[{'player_name': ' Giroud ', 'player_number': ...","[{'player_name': ' En-Nesyri ', 'player_number..."
3,Semi-finals,13/12/2022,False,False,False,Argentina,Croatia,3,0,39%,...,43%,57%,71%,4%,25%,792326,Lusail Iconic Stadium,"[{'event_team': 'away', 'event_time': "" 32' "",...","[{'player_name': ' Álvarez ', 'player_number':...","[{'player_name': ' Perišić ', 'player_number':..."

In [7]:
data.to_excel('data2.xlsx')