importing packages and data

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sn

In [16]:
df=pd.read_excel('Book3.xlsx')

Data explority

In [17]:
df.head(5)

,customer_id,customer_name,Email,order_id,order_status,order_date,store_id,store_name,quantity,list_price,product_name,product_id,discount,category_id,category_name,brand_id,brand_name
0,9,Genoveva Baldwin,genoveva.baldwin@msn.com,76,3,2016-02-16,2,Baldwin Bikes,2,1680.99,Surly Straggler 650b - 2016,11,0.10,4,Cyclocross Bicycles,8,Surly
1,18,Georgetta Hardin,georgetta.hardin@aol.com,1407,3,2018-02-26,2,Baldwin Bikes,2,832.99,Surly Troll Frameset - 2017,36,0.10,6,Mountain Bikes,8,Surly
2,20,Aleta Shepard,aleta.shepard@aol.com,735,3,2017-02-27,3,Rowlett Bikes,2,1549.00,Surly Straggler - 2016,10,0.07,4,Cyclocross Bicycles,8,Surly
3,49,Caroll Hays,caroll.hays@yahoo.com,739,4,2017-02-28,2,Baldwin Bikes,1,999.99,Surly Wednesday Frameset - 2016,3,0.20,6,Mountain Bikes,8,Surly
4,50,Cleotilde Booth,cleotilde.booth@gmail.com,70,3,2016-02-11,3,Rowlett Bikes,2,999.99,Surly Wednesday Frameset - 2016,3,0.05,6,Mountain Bikes,8,Surly

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49 entries, 0 to 48
Data columns (total 17 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   customer_id    49 non-null     int64
 1   customer_name  49 non-null     object
 2   Email          49 non-null     object
 3   order_id       49 non-null     int64
 4   order_status   49 non-null     int64
 5   order_date     49 non-null     datetime64[ns]
 6   store_id       49 non-null     int64
 7   store_name     49 non-null     object
 8   quantity       49 non-null     int64
 9   list_price     49 non-null     float64
 10  product_name   49 non-null     object
 11  product_id     49 non-null     int64
 12  discount       49 non-null     float64
 13  category_id    49 non-null     int64
 14  category_name  49 non-null     object
 15  brand_id       49 non-null     int64
 16  brand_name     49 non-null     object
dtypes: datetime64[ns](1), float64(2), int64(8), object(6)
memory usage: 6.6+ KB

In [24]:
df['quantity'].describe()

count    49.000000
mean      1.448980
std       0.502545
min       1.000000
25%       1.000000
50%       1.000000
75%       2.000000
max       2.000000
Name: quantity, dtype: float64

In [25]:
df['list_price'].describe()

count      49.000000
mean     1169.461020
std       560.131401
min       469.990000
25%       749.990000
50%       999.990000
75%      1549.000000
max      2499.990000
Name: list_price, dtype: float64

In [26]:
df['discount'].describe()

count    49.000000
mean      0.105918
std       0.057115
min       0.050000
25%       0.070000
50%       0.100000
75%       0.100000
max       0.200000
Name: discount, dtype: float64

In [27]:
df.duplicated().sum()

0

In [28]:
df.isnull().sum()

customer_id      0
customer_name    0
Email            0
order_id         0
order_status     0
order_date       0
store_id         0
store_name       0
quantity         0
list_price       0
product_name     0
product_id       0
discount         0
category_id      0
category_name    0
brand_id         0
brand_name       0
dtype: int64

In [29]:
df.sample(5)

,customer_id,customer_name,Email,order_id,order_status,order_date,store_id,store_name,quantity,list_price,product_name,product_id,discount,category_id,category_name,brand_id,brand_name
18,414,Romaine Haley,romaine.haley@aol.com,90,4,2016-02-23,2,Baldwin Bikes,1,469.99,Surly Ice Cream Truck Frameset - 2016,6,0.07,6,Mountain Bikes,8,Surly
44,1328,Cindie Franklin,cindie.franklin@yahoo.com,93,4,2016-02-26,1,Santa Cruz Bikes,2,1549.00,Surly Straggler - 2016,10,0.07,4,Cyclocross Bicycles,8,Surly
6,79,Ashanti Parks,ashanti.parks@hotmail.com,707,4,2017-02-09,2,Baldwin Bikes,2,1680.99,Surly Straggler 650b - 2016,11,0.10,4,Cyclocross Bicycles,8,Surly
26,648,Catrice Hicks,catrice.hicks@yahoo.com,91,4,2016-02-25,1,Santa Cruz Bikes,1,1680.99,Surly Straggler 650b - 2016,11,0.10,4,Cyclocross Bicycles,8,Surly
45,1352,Dorothea Miranda,dorothea.miranda@aol.com,702,4,2017-02-08,1,Santa Cruz Bikes,2,999.99,Surly Wednesday Frameset - 2016,3,0.07,6,Mountain Bikes,8,Surly

In [56]:
print(round(df['list_price'].mean(),2))
print(round(df['list_price'].min(),2))
print(round(df['list_price'].max(),2))
round(df['list_price'].mode(),2)

1169.46
469.99
2499.99

0    999.99
Name: list_price, dtype: float64

In [57]:
df['list_price'].sum()

57303.59

In [81]:
# What is the highest income for a store
high_in_sto=df['list_price'].sum()
print("the highest income for a store = ", high_in_sto)
df[df['list_price']==high_in_sto]['store_name']

the highest income for a store =  49

Series([], Name: store_name, dtype: object)

In [82]:
df['list_price'].value_counts()

999.99     14
469.99     11
1549.00     8
1680.99     7
2499.99     3
749.99      2
1632.99     2
832.99      1
875.99      1
Name: list_price, dtype: int64

In [83]:
df['list_price'].unique()

array([1680.99,  832.99, 1549.  ,  999.99, 2499.99,  469.99,  749.99,
        875.99, 1632.99])

In [84]:
df['list_price'].nunique()

9

In [124]:
df['list_price'].describe()

count      49.000000
mean     1169.461020
std       560.131401
min       469.990000
25%       749.990000
50%       999.990000
75%      1549.000000
max      2499.990000
Name: list_price, dtype: float64

In [125]:
df['quantity'].describe()

count    49.000000
mean      1.448980
std       0.502545
min       1.000000
25%       1.000000
50%       1.000000
75%       2.000000
max       2.000000
Name: quantity, dtype: float64

In [127]:
df['quantity'].count()

49

In [128]:
df['quantity'].sum()

71

In [129]:
df['quantity'].value_counts()

1    27
2    22
Name: quantity, dtype: int64

In [138]:
df['quantity'].nunique()

2

In [139]:
df['quantity'].unique()

array([2, 1], dtype=int64)

In [133]:
df['discount'].describe()

count    49.000000
mean      0.105918
std       0.057115
min       0.050000
25%       0.070000
50%       0.100000
75%       0.100000
max       0.200000
Name: discount, dtype: float64

In [134]:
df['discount'].sum()

5.19

In [135]:
df['discount'].value_counts()

0.10    14
0.07    12
0.20    12
0.05    11
Name: discount, dtype: int64

In [136]:
df['discount'].nunique()

4

In [137]:
df['discount'].unique()

array([0.1 , 0.07, 0.2 , 0.05])

data exploring and analysis

categories

In [93]:
df['category_name']

0     Cyclocross Bicycles
1          Mountain Bikes
2     Cyclocross Bicycles
3          Mountain Bikes
4          Mountain Bikes
5          Mountain Bikes
6     Cyclocross Bicycles
7          Mountain Bikes
8          Mountain Bikes
9     Cyclocross Bicycles
10         Mountain Bikes
11             Road Bikes
12    Cyclocross Bicycles
13         Mountain Bikes
14         Mountain Bikes
15         Mountain Bikes
16         Mountain Bikes
17         Mountain Bikes
18         Mountain Bikes
19         Mountain Bikes
20    Cyclocross Bicycles
21         Mountain Bikes
22         Mountain Bikes
23         Mountain Bikes
24         Mountain Bikes
25         Mountain Bikes
26    Cyclocross Bicycles
27         Mountain Bikes
28         Mountain Bikes
29             Road Bikes
30         Mountain Bikes
31         Mountain Bikes
32    Cyclocross Bicycles
33         Mountain Bikes
34         Mountain Bikes
35    Cyclocross Bicycles
36         Mountain Bikes
37    Cyclocross Bicycles
38    Cyclocross Bicycles
39    Cyclocross Bicycles
40         Mountain Bikes
41    Cyclocross Bicycles
42         Mountain Bikes
43         Mountain Bikes
44    Cyclocross Bicycles
45         Mountain Bikes
46             Road Bikes
47         Mountain Bikes
48    Cyclocross Bicycles
Name: category_name, dtype: object

In [95]:
df['category_name'].unique()

array(['Cyclocross Bicycles', 'Mountain Bikes', 'Road Bikes'],
      dtype=object)

In [96]:
df['category_name'].nunique()

3

In [97]:
# What is the lowest price for a category
minprice_category=df['list_price'].min()
print("the lowest price for a category = ", minprice_category)
df[df['list_price']==minprice_category]['category_name']

the lowest price for a category =  469.99

8     Mountain Bikes
10    Mountain Bikes
13    Mountain Bikes
16    Mountain Bikes
18    Mountain Bikes
21    Mountain Bikes
25    Mountain Bikes
27    Mountain Bikes
28    Mountain Bikes
30    Mountain Bikes
31    Mountain Bikes
Name: category_name, dtype: object

In [98]:
# What is the highest price for a category
maxprice_category=df['list_price'].max()
print("the lowest price for a category = ", maxprice_category)
df[df['list_price']==maxprice_category]['category_name']

the lowest price for a category =  2499.99

7     Mountain Bikes
14    Mountain Bikes
40    Mountain Bikes
Name: category_name, dtype: object

In [101]:
# What is the lowest quantity sold for a category
minquant_category=df['quantity'].min()
print("the lowest quantites that sold for a category = ", minquant_category)
df[df['quantity']==minquant_category]['category_name']

the lowest price for a category =  1

3          Mountain Bikes
7          Mountain Bikes
11             Road Bikes
13         Mountain Bikes
14         Mountain Bikes
15         Mountain Bikes
16         Mountain Bikes
18         Mountain Bikes
19         Mountain Bikes
21         Mountain Bikes
22         Mountain Bikes
23         Mountain Bikes
25         Mountain Bikes
26    Cyclocross Bicycles
27         Mountain Bikes
29             Road Bikes
32    Cyclocross Bicycles
33         Mountain Bikes
34         Mountain Bikes
35    Cyclocross Bicycles
36         Mountain Bikes
38    Cyclocross Bicycles
42         Mountain Bikes
43         Mountain Bikes
46             Road Bikes
47         Mountain Bikes
48    Cyclocross Bicycles
Name: category_name, dtype: object

In [102]:
# What is the highest quantity sold for a category
maxquant_category=df['quantity'].max()
print("the highest quantites that sold for a category = ", maxquant_category)
df[df['quantity']==maxquant_category]['category_name']

the highest quantites that sold for a category =  2

0     Cyclocross Bicycles
1          Mountain Bikes
2     Cyclocross Bicycles
4          Mountain Bikes
5          Mountain Bikes
6     Cyclocross Bicycles
8          Mountain Bikes
9     Cyclocross Bicycles
10         Mountain Bikes
12    Cyclocross Bicycles
17         Mountain Bikes
20    Cyclocross Bicycles
24         Mountain Bikes
28         Mountain Bikes
30         Mountain Bikes
31         Mountain Bikes
37    Cyclocross Bicycles
39    Cyclocross Bicycles
40         Mountain Bikes
41    Cyclocross Bicycles
44    Cyclocross Bicycles
45         Mountain Bikes
Name: category_name, dtype: object

In [103]:
# What is the lowest quantity sold for a category
mindiscount_category=df['discount'].min()
print("the lowest discount that offerd on a category = ", mindiscount_category)
df[df['discount']==mindiscount_category]['category_name']

the lowest discount that offerd on a category =  0.05

4          Mountain Bikes
5          Mountain Bikes
7          Mountain Bikes
14         Mountain Bikes
17         Mountain Bikes
29             Road Bikes
33         Mountain Bikes
39    Cyclocross Bicycles
40         Mountain Bikes
47         Mountain Bikes
48    Cyclocross Bicycles
Name: category_name, dtype: object

In [105]:
# What is the highest quantity sold for a category
maxdiscount_category=df['discount'].max()
print("the highest discount that offerd on a category = ", maxdiscount_category)
df[df['discount']==maxdiscount_category]['category_name']

the highest discount that offerd on a category =  0.2

3          Mountain Bikes
9     Cyclocross Bicycles
10         Mountain Bikes
12    Cyclocross Bicycles
20    Cyclocross Bicycles
22         Mountain Bikes
25         Mountain Bikes
32    Cyclocross Bicycles
34         Mountain Bikes
38    Cyclocross Bicycles
41    Cyclocross Bicycles
46             Road Bikes
Name: category_name, dtype: object

In [140]:
# top 5 categories
df['category_name'].value_counts().head()

Mountain Bikes         31
Cyclocross Bicycles    15
Road Bikes              3
Name: category_name, dtype: int64

In [142]:
# buttom 5 categories
df['category_name'].value_counts().tail()

Mountain Bikes         31
Cyclocross Bicycles    15
Road Bikes              3
Name: category_name, dtype: int64

Poducts

In [112]:
# What is the highest price for a product
maxprice=df['list_price'].max()
print("the highest price for a product = ", maxprice)
df[df['list_price']==maxprice]['product_name']

the highest price for a product =  2499.99

7     Surly Karate Monkey 27.5+ Frameset - 2017
14    Surly Karate Monkey 27.5+ Frameset - 2017
40    Surly Karate Monkey 27.5+ Frameset - 2017
Name: product_name, dtype: object

In [113]:
# What is the lowest price for a product
minprice=df['list_price'].min()
print("the lowest price for a product = ", minprice)
df[df['list_price']==maxprice]['product_name']

the lowest price for a product =  469.99

7     Surly Karate Monkey 27.5+ Frameset - 2017
14    Surly Karate Monkey 27.5+ Frameset - 2017
40    Surly Karate Monkey 27.5+ Frameset - 2017
Name: product_name, dtype: object

In [114]:
# What is the highest price for a product
maxprice=df['list_price'].max()
print("the highest price for a product = ", maxprice)
df[df['list_price']==maxprice]['product_name']

the highest price for a product =  2499.99

7     Surly Karate Monkey 27.5+ Frameset - 2017
14    Surly Karate Monkey 27.5+ Frameset - 2017
40    Surly Karate Monkey 27.5+ Frameset - 2017
Name: product_name, dtype: object

In [116]:
# What is the highest quantities sold 
maxquant_product=df['quantity'].max()
print("the highest quantities sold for a product = ", maxquant_product)
df[df['quantity']==maxquant_product]['product_name']

the highest quantities sold for a product =  2

0                   Surly Straggler 650b - 2016
1                   Surly Troll Frameset - 2017
2                        Surly Straggler - 2016
4               Surly Wednesday Frameset - 2016
5               Surly Big Dummy Frameset - 2017
6                   Surly Straggler 650b - 2016
8                Surly Pack Rat Frameset - 2018
9                        Surly Straggler - 2018
10        Surly Ice Cream Truck Frameset - 2016
12                       Surly Straggler - 2016
17              Surly Wednesday Frameset - 2016
20                       Surly Straggler - 2016
24              Surly Wednesday Frameset - 2016
28        Surly Ice Cream Truck Frameset - 2016
30              Surly Wednesday Frameset - 2017
31               Surly Pack Rat Frameset - 2018
37                  Surly Straggler 650b - 2016
39                       Surly Straggler - 2016
40    Surly Karate Monkey 27.5+ Frameset - 2017
41                  Surly Straggler 650b - 2016
44                       Surly Straggler - 2016
45              Surly Wednesday Frameset - 2016
Name: product_name, dtype: object

In [119]:
# What is the lowest quantities sold 
minquant_product=df['quantity'].min()
print("the lowest quantities sold for a product = ", minquant_product)
df[df['quantity']==minquant_product]['product_name']

the lowest quantities sold for a product =  1

3               Surly Wednesday Frameset - 2016
7     Surly Karate Monkey 27.5+ Frameset - 2017
11                   Surly Ogre Frameset - 2017
13        Surly Ice Cream Truck Frameset - 2016
14    Surly Karate Monkey 27.5+ Frameset - 2017
15        Surly Ice Cream Truck Frameset - 2017
16        Surly Ice Cream Truck Frameset - 2016
18        Surly Ice Cream Truck Frameset - 2016
19              Surly Wednesday Frameset - 2016
21        Surly Ice Cream Truck Frameset - 2016
22              Surly Wednesday Frameset - 2016
23              Surly Wednesday Frameset - 2016
25              Surly Wednesday Frameset - 2017
26                  Surly Straggler 650b - 2016
27        Surly Ice Cream Truck Frameset - 2016
29                     Surly Steamroller - 2017
32                  Surly Straggler 650b - 2016
33              Surly Wednesday Frameset - 2016
34                       Surly Wednesday - 2017
35                       Surly Straggler - 2016
36              Surly Wednesday Frameset - 2016
38                  Surly Straggler 650b - 2016
42                       Surly Wednesday - 2017
43              Surly Big Dummy Frameset - 2017
46                   Surly Ogre Frameset - 2017
47              Surly Wednesday Frameset - 2016
48                       Surly Straggler - 2016
Name: product_name, dtype: object

In [120]:
# What is the lowest discount for product 
min_discount_product=df['discount'].min()
print("the lowest discount a product = ", min_discount_product)
df[df['discount']==min_discount_product]['product_name']

the lowest discount a product =  0.05

4               Surly Wednesday Frameset - 2016
5               Surly Big Dummy Frameset - 2017
7     Surly Karate Monkey 27.5+ Frameset - 2017
14    Surly Karate Monkey 27.5+ Frameset - 2017
17              Surly Wednesday Frameset - 2016
29                     Surly Steamroller - 2017
33              Surly Wednesday Frameset - 2016
39                       Surly Straggler - 2016
40    Surly Karate Monkey 27.5+ Frameset - 2017
47              Surly Wednesday Frameset - 2016
48                       Surly Straggler - 2016
Name: product_name, dtype: object

In [121]:
# What is the highest discount for product 
max_discount_product=df['discount'].max()
print("the highest discount a product = ", max_discount_product)
df[df['discount']==max_discount_product]['product_name']

the highest discount a product =  0.2

3           Surly Wednesday Frameset - 2016
9                    Surly Straggler - 2018
10    Surly Ice Cream Truck Frameset - 2016
12                   Surly Straggler - 2016
20                   Surly Straggler - 2016
22          Surly Wednesday Frameset - 2016
25          Surly Wednesday Frameset - 2017
32              Surly Straggler 650b - 2016
34                   Surly Wednesday - 2017
38              Surly Straggler 650b - 2016
41              Surly Straggler 650b - 2016
46               Surly Ogre Frameset - 2017
Name: product_name, dtype: object

top5 and buttom products

In [143]:
df['product_name'].value_counts().tail(10)

Surly Karate Monkey 27.5+ Frameset - 2017    3
Surly Big Dummy Frameset - 2017              2
Surly Pack Rat Frameset - 2018               2
Surly Ogre Frameset - 2017                   2
Surly Wednesday Frameset - 2017              2
Surly Wednesday - 2017                       2
Surly Troll Frameset - 2017                  1
Surly Straggler - 2018                       1
Surly Ice Cream Truck Frameset - 2017        1
Surly Steamroller - 2017                     1
Name: product_name, dtype: int64

In [144]:
df['product_name'].value_counts().head(10)

Surly Wednesday Frameset - 2016              11
Surly Straggler 650b - 2016                   7
Surly Straggler - 2016                        7
Surly Ice Cream Truck Frameset - 2016         7
Surly Karate Monkey 27.5+ Frameset - 2017     3
Surly Big Dummy Frameset - 2017               2
Surly Pack Rat Frameset - 2018                2
Surly Ogre Frameset - 2017                    2
Surly Wednesday Frameset - 2017               2
Surly Wednesday - 2017                        2
Name: product_name, dtype: int64

Brands

In [145]:
# What is the lowest price for a brand
minprice_brand=df['list_price'].min()
print("the lowest price for a brand = ", minprice_brand)
df[df['list_price']==minprice_brand]['brand_name']

the lowest price for a brand =  469.99

8     Surly
10    Surly
13    Surly
16    Surly
18    Surly
21    Surly
25    Surly
27    Surly
28    Surly
30    Surly
31    Surly
Name: brand_name, dtype: object

In [146]:
# What is the highest price for a brand
maxprice_brand=df['list_price'].max()
print("the highest price for a brand = ", maxprice_brand)
df[df['list_price']==maxprice_brand]['brand_name']

the highest price for a brand =  2499.99

7     Surly
14    Surly
40    Surly
Name: brand_name, dtype: object

In [147]:
# What is the lowest quantities sold for a brand
minquan_brand=df['quantity'].min()
print("the lowest  quantities sold for a brand = ", minquan_brand)
df[df['quantity']==minquan_brand]['brand_name']

the lowest  quantities sold for a brand =  1

3     Surly
7     Surly
11    Surly
13    Surly
14    Surly
15    Surly
16    Surly
18    Surly
19    Surly
21    Surly
22    Surly
23    Surly
25    Surly
26    Surly
27    Surly
29    Surly
32    Surly
33    Surly
34    Surly
35    Surly
36    Surly
38    Surly
42    Surly
43    Surly
46    Surly
47    Surly
48    Surly
Name: brand_name, dtype: object

In [148]:
# What is the highest quantities sold for a brand
maxquan_brand=df['quantity'].max()
print("the highest  quantities sold for a brand = ", maxquan_brand)
df[df['quantity']==maxquan_brand]['brand_name']

the highest  quantities sold for a brand =  2

0     Surly
1     Surly
2     Surly
4     Surly
5     Surly
6     Surly
8     Surly
9     Surly
10    Surly
12    Surly
17    Surly
20    Surly
24    Surly
28    Surly
30    Surly
31    Surly
37    Surly
39    Surly
40    Surly
41    Surly
44    Surly
45    Surly
Name: brand_name, dtype: object

In [150]:
# What is the highest discount  for a brand
maxdis_brand=df['discount'].max()
print("the highest  discount for a brand = ", maxquan_brand)
df[df['discount']==maxquan_brand]['brand_name']

the highest  discount for a brand =  2

Series([], Name: brand_name, dtype: object)

In [151]:
# What is the lowest discount  for a brand
mindis_brand=df['discount'].min()
print("the lowest  discount for a brand = ", minquan_brand)
df[df['discount']==minquan_brand]['brand_name']

the lowest  discount for a brand =  1

Series([], Name: brand_name, dtype: object)

In [152]:
# top 5
df['discount'].value_counts().head(5)

0.10    14
0.07    12
0.20    12
0.05    11
Name: discount, dtype: int64

In [153]:
# buttom 5
df['discount'].value_counts().tail(5)

0.10    14
0.07    12
0.20    12
0.05    11
Name: discount, dtype: int64

Stores

In [154]:
df['store_name'].sample(5)

38    Baldwin Bikes
16    Baldwin Bikes
4     Rowlett Bikes
11    Rowlett Bikes
8     Baldwin Bikes
Name: store_name, dtype: object

In [155]:
df['store_name'].value_counts().head(5)

Baldwin Bikes       32
Santa Cruz Bikes    11
Rowlett Bikes        6
Name: store_name, dtype: int64

In [156]:
df['store_name'].value_counts().tail(5)

Baldwin Bikes       32
Santa Cruz Bikes    11
Rowlett Bikes        6
Name: store_name, dtype: int64

In [157]:
df['store_name']

0        Baldwin Bikes
1        Baldwin Bikes
2        Rowlett Bikes
3        Baldwin Bikes
4        Rowlett Bikes
5        Baldwin Bikes
6        Baldwin Bikes
7        Baldwin Bikes
8        Baldwin Bikes
9        Baldwin Bikes
10       Baldwin Bikes
11       Rowlett Bikes
12       Baldwin Bikes
13       Baldwin Bikes
14       Baldwin Bikes
15       Baldwin Bikes
16       Baldwin Bikes
17    Santa Cruz Bikes
18       Baldwin Bikes
19       Baldwin Bikes
20       Baldwin Bikes
21    Santa Cruz Bikes
22       Baldwin Bikes
23       Baldwin Bikes
24       Baldwin Bikes
25       Baldwin Bikes
26    Santa Cruz Bikes
27    Santa Cruz Bikes
28       Rowlett Bikes
29       Baldwin Bikes
30       Baldwin Bikes
31       Baldwin Bikes
32    Santa Cruz Bikes
33       Rowlett Bikes
34       Rowlett Bikes
35       Baldwin Bikes
36       Baldwin Bikes
37    Santa Cruz Bikes
38       Baldwin Bikes
39       Baldwin Bikes
40       Baldwin Bikes
41       Baldwin Bikes
42    Santa Cruz Bikes
43    Santa Cruz Bikes
44    Santa Cruz Bikes
45    Santa Cruz Bikes
46    Santa Cruz Bikes
47       Baldwin Bikes
48       Baldwin Bikes
Name: store_name, dtype: object

In [159]:
df['store_name'].nunique()

3

In [160]:
df['store_name'].unique()

array(['Baldwin Bikes', 'Rowlett Bikes', 'Santa Cruz Bikes'], dtype=object)

In [171]:
max_store_quan=df['quantity'].max()
df[df['quantity']==max_store_quan]['store_name']

0        Baldwin Bikes
1        Baldwin Bikes
2        Rowlett Bikes
4        Rowlett Bikes
5        Baldwin Bikes
6        Baldwin Bikes
8        Baldwin Bikes
9        Baldwin Bikes
10       Baldwin Bikes
12       Baldwin Bikes
17    Santa Cruz Bikes
20       Baldwin Bikes
24       Baldwin Bikes
28       Rowlett Bikes
30       Baldwin Bikes
31       Baldwin Bikes
37    Santa Cruz Bikes
39       Baldwin Bikes
40       Baldwin Bikes
41       Baldwin Bikes
44    Santa Cruz Bikes
45    Santa Cruz Bikes
Name: store_name, dtype: object

In [176]:
min_store_quan=df['quantity'].min()
df[df['quantity']==min_store_quan]['store_name']

3        Baldwin Bikes
7        Baldwin Bikes
11       Rowlett Bikes
13       Baldwin Bikes
14       Baldwin Bikes
15       Baldwin Bikes
16       Baldwin Bikes
18       Baldwin Bikes
19       Baldwin Bikes
21    Santa Cruz Bikes
22       Baldwin Bikes
23       Baldwin Bikes
25       Baldwin Bikes
26    Santa Cruz Bikes
27    Santa Cruz Bikes
29       Baldwin Bikes
32    Santa Cruz Bikes
33       Rowlett Bikes
34       Rowlett Bikes
35       Baldwin Bikes
36       Baldwin Bikes
38       Baldwin Bikes
42    Santa Cruz Bikes
43    Santa Cruz Bikes
46    Santa Cruz Bikes
47       Baldwin Bikes
48       Baldwin Bikes
Name: store_name, dtype: object

In [177]:
df['store_name'].value_counts().head(5)

Baldwin Bikes       32
Santa Cruz Bikes    11
Rowlett Bikes        6
Name: store_name, dtype: int64

In [ ]:
df['store_name'].value_counts().tail(5)

Date

In [178]:
df['order_date']

0    2016-02-16
1    2018-02-26
2    2017-02-27
3    2017-02-28
4    2016-02-11
5    2018-02-12
6    2017-02-09
7    2018-02-16
8    2018-02-16
9    2018-02-16
10   2016-02-28
11   2017-02-13
12   2016-02-27
13   2016-02-13
14   2017-02-13
15   2017-02-01
16   2017-02-16
17   2016-02-19
18   2016-02-23
19   2016-02-23
20   2016-02-17
21   2016-02-17
22   2016-02-04
23   2016-02-14
24   2016-02-12
25   2017-02-16
26   2016-02-25
27   2017-02-10
28   2016-02-21
29   2017-02-27
30   2017-02-02
31   2018-02-15
32   2016-02-27
33   2017-02-26
34   2017-02-06
35   2016-02-21
36   2016-02-07
37   2017-02-03
38   2017-02-28
39   2017-02-08
40   2018-02-19
41   2016-02-18
42   2017-02-05
43   2017-02-09
44   2016-02-26
45   2017-02-08
46   2018-02-16
47   2017-02-18
48   2016-02-10
Name: order_date, dtype: datetime64[ns]

In [179]:
min_date=df['quantity'].min()
df[df['quantity']==min_date]['order_date']

3    2017-02-28
7    2018-02-16
11   2017-02-13
13   2016-02-13
14   2017-02-13
15   2017-02-01
16   2017-02-16
18   2016-02-23
19   2016-02-23
21   2016-02-17
22   2016-02-04
23   2016-02-14
25   2017-02-16
26   2016-02-25
27   2017-02-10
29   2017-02-27
32   2016-02-27
33   2017-02-26
34   2017-02-06
35   2016-02-21
36   2016-02-07
38   2017-02-28
42   2017-02-05
43   2017-02-09
46   2018-02-16
47   2017-02-18
48   2016-02-10
Name: order_date, dtype: datetime64[ns]

In [180]:
df['order_date'].value_counts().head(5)

2018-02-16    4
2016-02-21    2
2016-02-17    2
2017-02-27    2
2017-02-28    2
Name: order_date, dtype: int64

In [181]:
df['order_date'].value_counts().tail(5)

2016-02-13    1
2016-02-28    1
2018-02-12    1
2016-02-11    1
2016-02-10    1
Name: order_date, dtype: int64

In [182]:
df['order_status']

0     3
1     3
2     3
3     4
4     3
5     4
6     4
7     4
8     4
9     4
10    4
11    4
12    4
13    4
14    4
15    4
16    4
17    4
18    4
19    4
20    4
21    4
22    4
23    4
24    4
25    4
26    4
27    4
28    4
29    4
30    4
31    4
32    4
33    4
34    4
35    4
36    4
37    4
38    4
39    4
40    4
41    4
42    4
43    4
44    4
45    4
46    4
47    4
48    4
Name: order_status, dtype: int64

Customers

In [184]:
df['customer_name'].head(5)

0    Genoveva Baldwin
1    Georgetta Hardin
2       Aleta Shepard
3         Caroll Hays
4     Cleotilde Booth
Name: customer_name, dtype: object

In [185]:
df['customer_name'].unique()

array(['Genoveva Baldwin', 'Georgetta Hardin', 'Aleta Shepard',
       'Caroll Hays', 'Cleotilde Booth', 'Tenisha Lyons', 'Ashanti Parks',
       'Stefany Potter', 'Alpha King', 'Michel Blankenship', 'Casey Gill',
       'Mariela Huffman', 'Danny Kim', 'Alesia Horne', 'Collin Webster',
       'Gertrude Terry', 'Romaine Haley', 'Max Charles',
       'Ellena Clements', 'Inge Olsen', 'Euna Lopez', 'Gabriel Wagner',
       'Donnetta Henson', 'Catrice Hicks', 'Shara Pope',
       'Calandra Stanton', 'Lanie Dunn', 'Willian Hardin', 'James Robles',
       'Thurman Ellis', 'Maximina Hutchinson', 'Ciera Koch',
       'Rodolfo Buck', 'Dann Huff', 'Collen Dennis', 'Kendra Harrington',
       'Dottie Roberts', 'Earlean Pena', 'Bronwyn Vargas', 'Lise Hebert',
       'Roy Chan', 'Cindie Franklin', 'Dorothea Miranda',
       'Desire Mcgowan', 'Angelika Perry', 'Ophelia Decker'], dtype=object)

In [186]:
df['customer_name'].nunique()

46

In [188]:
df['customer_name'].value_counts().sum()

49

In [201]:
max_cus_quan=df['quantity'].max()
df[df['quantity']==max_cus_quan]['customer_name']

0     Genoveva Baldwin
1     Georgetta Hardin
2        Aleta Shepard
4      Cleotilde Booth
5        Tenisha Lyons
6        Ashanti Parks
8       Stefany Potter
9       Stefany Potter
10          Alpha King
12          Casey Gill
17      Gertrude Terry
20         Max Charles
24      Gabriel Wagner
28    Calandra Stanton
30      Willian Hardin
31        James Robles
37       Collen Dennis
39      Dottie Roberts
40        Earlean Pena
41      Bronwyn Vargas
44     Cindie Franklin
45    Dorothea Miranda
Name: customer_name, dtype: object

In [204]:
min_cus_quan=df['quantity'].min()
df[df['quantity']==min_cus_quan]['customer_name']

3             Caroll Hays
7          Stefany Potter
11     Michel Blankenship
13        Mariela Huffman
14              Danny Kim
15           Alesia Horne
16         Collin Webster
18          Romaine Haley
19          Romaine Haley
21        Ellena Clements
22             Inge Olsen
23             Euna Lopez
25        Donnetta Henson
26          Catrice Hicks
27             Shara Pope
29             Lanie Dunn
32          Thurman Ellis
33    Maximina Hutchinson
34             Ciera Koch
35           Rodolfo Buck
36              Dann Huff
38      Kendra Harrington
42            Lise Hebert
43               Roy Chan
46         Desire Mcgowan
47         Angelika Perry
48         Ophelia Decker
Name: customer_name, dtype: object

In [205]:
df['customer_name'].value_counts().head(5)

Stefany Potter      3
Romaine Haley       2
Genoveva Baldwin    1
Collen Dennis       1
Lanie Dunn          1
Name: customer_name, dtype: int64

In [206]:
df['customer_name'].value_counts().tail(5)

Ellena Clements    1
Inge Olsen         1
Euna Lopez         1
Gabriel Wagner     1
Ophelia Decker     1
Name: customer_name, dtype: int64

Finished ----------