importing packages and data

In [1]:
import pandas as pd
import numpy as np

In [4]:
df=pd.read_excel('Results.xlsx')

Data Cleaning

In [3]:
df.head(5)

,book_BookID,book_Title,book_PublisherName,book_authors_AuthorName,publisher_PublisherAddress,publisher_PublisherPhone,book_copies_BookID,book_copies_No_Of_Copies,book_loans_CardNo,book_loans_DateOut,book_loans_DueDate,library_branch_BranchID,library_branch_BranchAddress,library_branch_BranchName,borrower_CardNo,borrower_BorrowerName,borrower_BorrowerAddress,borrower_BorrowerPhone
0,1,The Name of the Wind,DAW Books,Patrick Rothfuss,"375 Hudson Street, New York, NY 10014",212-366-2000,1,5,100,1/1/18,2/2/18,1,"32 Corner Road, New York, NY 10012",Sharpstown,100,Joe Smith,"1321 4th Street, New York, NY 10014",212-312-1234
1,1,The Name of the Wind,DAW Books,Patrick Rothfuss,"375 Hudson Street, New York, NY 10014",212-366-2000,1,5,106,1/7/18,2/7/18,1,"32 Corner Road, New York, NY 10012",Sharpstown,106,Haley Jackson,"231 52nd Avenue New York, NY 10014",212-419-9935
2,1,The Name of the Wind,DAW Books,Patrick Rothfuss,"375 Hudson Street, New York, NY 10014",212-366-2000,1,5,102,1/12/18,2/12/18,1,"32 Corner Road, New York, NY 10012",Sharpstown,102,Tom Li,"981 Main Street, Ann Arbor, MI 48104",734-902-7455
3,1,The Name of the Wind,DAW Books,Patrick Rothfuss,"375 Hudson Street, New York, NY 10014",212-366-2000,1,5,103,2/2/17,3/2/18,1,"32 Corner Road, New York, NY 10012",Sharpstown,103,Angela Thompson,"2212 Green Avenue, Ann Arbor, MI 48104",313-591-2122
4,1,The Name of the Wind,DAW Books,Patrick Rothfuss,"375 Hudson Street, New York, NY 10014",212-366-2000,1,5,102,1/12/18,2/12/18,1,"32 Corner Road, New York, NY 10012",Sharpstown,102,Tom Li,"981 Main Street, Ann Arbor, MI 48104",734-902-7455

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 192 entries, 0 to 191
Data columns (total 18 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   book_BookID                   192 non-null    int64
 1   book_Title                    192 non-null    object
 2   book_PublisherName            192 non-null    object
 3   book_authors_AuthorName       192 non-null    object
 4   publisher_PublisherAddress    192 non-null    object
 5   publisher_PublisherPhone      192 non-null    object
 6   book_copies_BookID            192 non-null    int64
 7   book_copies_No_Of_Copies      192 non-null    int64
 8   book_loans_CardNo             192 non-null    int64
 9   book_loans_DateOut            192 non-null    object
 10  book_loans_DueDate            192 non-null    object
 11  library_branch_BranchID       192 non-null    int64
 12  library_branch_BranchAddress  192 non-null    object
 13  library_branch_BranchName     192 non-null    object
 14  borrower_CardNo               192 non-null    int64
 15  borrower_BorrowerName         192 non-null    object
 16  borrower_BorrowerAddress      192 non-null    object
 17  borrower_BorrowerPhone        192 non-null    object
dtypes: int64(6), object(12)
memory usage: 27.1+ KB

In [6]:
df['book_copies_No_Of_Copies'].describe()

count    192.0
mean       5.0
std        0.0
min        5.0
25%        5.0
50%        5.0
75%        5.0
max        5.0
Name: book_copies_No_Of_Copies, dtype: float64

In [7]:
df.duplicated().sum()

16

In [8]:
df.isnull().sum()

book_BookID                     0
book_Title                      0
book_PublisherName              0
book_authors_AuthorName         0
publisher_PublisherAddress      0
publisher_PublisherPhone        0
book_copies_BookID              0
book_copies_No_Of_Copies        0
book_loans_CardNo               0
book_loans_DateOut              0
book_loans_DueDate              0
library_branch_BranchID         0
library_branch_BranchAddress    0
library_branch_BranchName       0
borrower_CardNo                 0
borrower_BorrowerName           0
borrower_BorrowerAddress        0
borrower_BorrowerPhone          0
dtype: int64

convert book_loans_DateOut,book_loans_DueDate from numerical to Date

In [9]:
df['book_loans_DateOut']=pd.to_datetime(df['book_loans_DateOut'])

In [10]:
df['book_loans_DueDate']=pd.to_datetime(df['book_loans_DueDate'])

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 192 entries, 0 to 191
Data columns (total 18 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   book_BookID                   192 non-null    int64
 1   book_Title                    192 non-null    object
 2   book_PublisherName            192 non-null    object
 3   book_authors_AuthorName       192 non-null    object
 4   publisher_PublisherAddress    192 non-null    object
 5   publisher_PublisherPhone      192 non-null    object
 6   book_copies_BookID            192 non-null    int64
 7   book_copies_No_Of_Copies      192 non-null    int64
 8   book_loans_CardNo             192 non-null    int64
 9   book_loans_DateOut            192 non-null    datetime64[ns]
 10  book_loans_DueDate            192 non-null    datetime64[ns]
 11  library_branch_BranchID       192 non-null    int64
 12  library_branch_BranchAddress  192 non-null    object
 13  library_branch_BranchName     192 non-null    object
 14  borrower_CardNo               192 non-null    int64
 15  borrower_BorrowerName         192 non-null    object
 16  borrower_BorrowerAddress      192 non-null    object
 17  borrower_BorrowerPhone        192 non-null    object
dtypes: datetime64[ns](2), int64(6), object(10)
memory usage: 27.1+ KB

In [12]:
df.sample(5)

,book_BookID,book_Title,book_PublisherName,book_authors_AuthorName,publisher_PublisherAddress,publisher_PublisherPhone,book_copies_BookID,book_copies_No_Of_Copies,book_loans_CardNo,book_loans_DateOut,book_loans_DueDate,library_branch_BranchID,library_branch_BranchAddress,library_branch_BranchName,borrower_CardNo,borrower_BorrowerName,borrower_BorrowerAddress,borrower_BorrowerPhone
166,9,Hard Boiled Wonderland and The End of the World,Shinchosa,Haruki Murakami,"Oga Bldg. 8, 2-5-4 Sarugaku-cho, Chiyoda-ku, T...",+81-3-5577-6507,9,5,103,2018-01-15,2018-02-15,4,"101 South University, Ann Arbor, MI 48104",Ann Arbor,103,Angela Thompson,"2212 Green Avenue, Ann Arbor, MI 48104",313-591-2122
32,13,The Princess Bride,Harcourt Brace Jovanovich,William Goldman,"3 Park Ave, New York, NY 10016",212-420-5800,13,5,107,2018-01-03,2018-02-03,1,"32 Corner Road, New York, NY 10012",Sharpstown,107,Michael Horford,"653 Glen Avenue, Ann Arbor, MI 48104",734-998-1513
140,19,A Game of Thrones,Bantam,George R.R. Martin,"375 Hudson Street, New York, NY 10014",212-366-2000,19,5,102,2017-12-12,2018-01-12,3,"40 State Street, Saline, MI 48176",Saline,102,Tom Li,"981 Main Street, Ann Arbor, MI 48104",734-902-7455
136,18,The Fellowship of the Ring,George Allen & Unwin,J.R.R. Tolkien,"83 Alexander Ln, Crows Nest NSW 2065, Australia",+61-2-8425-0100,18,5,107,2018-01-03,2018-02-03,3,"40 State Street, Saline, MI 48176",Saline,107,Michael Horford,"653 Glen Avenue, Ann Arbor, MI 48104",734-998-1513
3,1,The Name of the Wind,DAW Books,Patrick Rothfuss,"375 Hudson Street, New York, NY 10014",212-366-2000,1,5,103,2017-02-02,2018-03-02,1,"32 Corner Road, New York, NY 10012",Sharpstown,103,Angela Thompson,"2212 Green Avenue, Ann Arbor, MI 48104",313-591-2122

Drop sum columns that will not use it

In [13]:
drop_columns=['book_BookID','book_copies_BookID','book_loans_CardNo','library_branch_BranchID','borrower_CardNo']
df=df.drop(columns=drop_columns)

In [14]:
df.head(4)

,book_Title,book_PublisherName,book_authors_AuthorName,publisher_PublisherAddress,publisher_PublisherPhone,book_copies_No_Of_Copies,book_loans_DateOut,book_loans_DueDate,library_branch_BranchAddress,library_branch_BranchName,borrower_BorrowerName,borrower_BorrowerAddress,borrower_BorrowerPhone
0,The Name of the Wind,DAW Books,Patrick Rothfuss,"375 Hudson Street, New York, NY 10014",212-366-2000,5,2018-01-01,2018-02-02,"32 Corner Road, New York, NY 10012",Sharpstown,Joe Smith,"1321 4th Street, New York, NY 10014",212-312-1234
1,The Name of the Wind,DAW Books,Patrick Rothfuss,"375 Hudson Street, New York, NY 10014",212-366-2000,5,2018-01-07,2018-02-07,"32 Corner Road, New York, NY 10012",Sharpstown,Haley Jackson,"231 52nd Avenue New York, NY 10014",212-419-9935
2,The Name of the Wind,DAW Books,Patrick Rothfuss,"375 Hudson Street, New York, NY 10014",212-366-2000,5,2018-01-12,2018-02-12,"32 Corner Road, New York, NY 10012",Sharpstown,Tom Li,"981 Main Street, Ann Arbor, MI 48104",734-902-7455
3,The Name of the Wind,DAW Books,Patrick Rothfuss,"375 Hudson Street, New York, NY 10014",212-366-2000,5,2017-02-02,2018-03-02,"32 Corner Road, New York, NY 10012",Sharpstown,Angela Thompson,"2212 Green Avenue, Ann Arbor, MI 48104",313-591-2122

Check duplicates and null values

In [15]:
df.duplicated().sum()

16

In [16]:
duplicateRows = df[df.duplicated()]

In [21]:
duplicateRows

,book_Title,book_PublisherName,book_authors_AuthorName,publisher_PublisherAddress,publisher_PublisherPhone,book_copies_No_Of_Copies,book_loans_DateOut,book_loans_DueDate,library_branch_BranchAddress,library_branch_BranchName,borrower_BorrowerName,borrower_BorrowerAddress,borrower_BorrowerPhone
4,The Name of the Wind,DAW Books,Patrick Rothfuss,"375 Hudson Street, New York, NY 10014",212-366-2000,5,2018-01-12,2018-02-12,"32 Corner Road, New York, NY 10012",Sharpstown,Tom Li,"981 Main Street, Ann Arbor, MI 48104",734-902-7455
23,Hard Boiled Wonderland and The End of the World,Shinchosa,Haruki Murakami,"Oga Bldg. 8, 2-5-4 Sarugaku-cho, Chiyoda-ku, T...",+81-3-5577-6507,5,2018-01-15,2018-02-15,"32 Corner Road, New York, NY 10012",Sharpstown,Angela Thompson,"2212 Green Avenue, Ann Arbor, MI 48104",313-591-2122
28,The Hitchhikers Guide to the Galaxy,Pan Books,Douglas Adams,"175 Fifth Avenue, New York, NY 10010",646-307-5745,5,2018-01-15,2018-02-15,"32 Corner Road, New York, NY 10012",Sharpstown,Angela Thompson,"2212 Green Avenue, Ann Arbor, MI 48104",313-591-2122
47,The Lost Tribe,Picador USA,Mark Lee,"175 Fifth Avenue, New York, NY 10010",646-307-5745,5,2018-01-03,2018-02-03,"32 Corner Road, New York, NY 10012",Sharpstown,Angela Thompson,"2212 Green Avenue, Ann Arbor, MI 48104",313-591-2122
52,The Name of the Wind,DAW Books,Patrick Rothfuss,"375 Hudson Street, New York, NY 10014",212-366-2000,5,2018-01-12,2018-02-12,"491 3rd Street, New York, NY 10014",Central,Tom Li,"981 Main Street, Ann Arbor, MI 48104",734-902-7455
71,Hard Boiled Wonderland and The End of the World,Shinchosa,Haruki Murakami,"Oga Bldg. 8, 2-5-4 Sarugaku-cho, Chiyoda-ku, T...",+81-3-5577-6507,5,2018-01-15,2018-02-15,"491 3rd Street, New York, NY 10014",Central,Angela Thompson,"2212 Green Avenue, Ann Arbor, MI 48104",313-591-2122
76,The Hitchhikers Guide to the Galaxy,Pan Books,Douglas Adams,"175 Fifth Avenue, New York, NY 10010",646-307-5745,5,2018-01-15,2018-02-15,"491 3rd Street, New York, NY 10014",Central,Angela Thompson,"2212 Green Avenue, Ann Arbor, MI 48104",313-591-2122
95,The Lost Tribe,Picador USA,Mark Lee,"175 Fifth Avenue, New York, NY 10010",646-307-5745,5,2018-01-03,2018-02-03,"491 3rd Street, New York, NY 10014",Central,Angela Thompson,"2212 Green Avenue, Ann Arbor, MI 48104",313-591-2122
100,The Name of the Wind,DAW Books,Patrick Rothfuss,"375 Hudson Street, New York, NY 10014",212-366-2000,5,2018-01-12,2018-02-12,"40 State Street, Saline, MI 48176",Saline,Tom Li,"981 Main Street, Ann Arbor, MI 48104",734-902-7455
119,Hard Boiled Wonderland and The End of the World,Shinchosa,Haruki Murakami,"Oga Bldg. 8, 2-5-4 Sarugaku-cho, Chiyoda-ku, T...",+81-3-5577-6507,5,2018-01-15,2018-02-15,"40 State Street, Saline, MI 48176",Saline,Angela Thompson,"2212 Green Avenue, Ann Arbor, MI 48104",313-591-2122
124,The Hitchhikers Guide to the Galaxy,Pan Books,Douglas Adams,"175 Fifth Avenue, New York, NY 10010",646-307-5745,5,2018-01-15,2018-02-15,"40 State Street, Saline, MI 48176",Saline,Angela Thompson,"2212 Green Avenue, Ann Arbor, MI 48104",313-591-2122
143,The Lost Tribe,Picador USA,Mark Lee,"175 Fifth Avenue, New York, NY 10010",646-307-5745,5,2018-01-03,2018-02-03,"40 State Street, Saline, MI 48176",Saline,Angela Thompson,"2212 Green Avenue, Ann Arbor, MI 48104",313-591-2122
148,The Name of the Wind,DAW Books,Patrick Rothfuss,"375 Hudson Street, New York, NY 10014",212-366-2000,5,2018-01-12,2018-02-12,"101 South University, Ann Arbor, MI 48104",Ann Arbor,Tom Li,"981 Main Street, Ann Arbor, MI 48104",734-902-7455
167,Hard Boiled Wonderland and The End of the World,Shinchosa,Haruki Murakami,"Oga Bldg. 8, 2-5-4 Sarugaku-cho, Chiyoda-ku, T...",+81-3-5577-6507,5,2018-01-15,2018-02-15,"101 South University, Ann Arbor, MI 48104",Ann Arbor,Angela Thompson,"2212 Green Avenue, Ann Arbor, MI 48104",313-591-2122
172,The Hitchhikers Guide to the Galaxy,Pan Books,Douglas Adams,"175 Fifth Avenue, New York, NY 10010",646-307-5745,5,2018-01-15,2018-02-15,"101 South University, Ann Arbor, MI 48104",Ann Arbor,Angela Thompson,"2212 Green Avenue, Ann Arbor, MI 48104",313-591-2122
191,The Lost Tribe,Picador USA,Mark Lee,"175 Fifth Avenue, New York, NY 10010",646-307-5745,5,2018-01-03,2018-02-03,"101 South University, Ann Arbor, MI 48104",Ann Arbor,Angela Thompson,"2212 Green Avenue, Ann Arbor, MI 48104",313-591-2122

In [22]:
df.loc[df.duplicated(), :]

,book_Title,book_PublisherName,book_authors_AuthorName,publisher_PublisherAddress,publisher_PublisherPhone,book_copies_No_Of_Copies,book_loans_DateOut,book_loans_DueDate,library_branch_BranchAddress,library_branch_BranchName,borrower_BorrowerName,borrower_BorrowerAddress,borrower_BorrowerPhone
4,The Name of the Wind,DAW Books,Patrick Rothfuss,"375 Hudson Street, New York, NY 10014",212-366-2000,5,2018-01-12,2018-02-12,"32 Corner Road, New York, NY 10012",Sharpstown,Tom Li,"981 Main Street, Ann Arbor, MI 48104",734-902-7455
23,Hard Boiled Wonderland and The End of the World,Shinchosa,Haruki Murakami,"Oga Bldg. 8, 2-5-4 Sarugaku-cho, Chiyoda-ku, T...",+81-3-5577-6507,5,2018-01-15,2018-02-15,"32 Corner Road, New York, NY 10012",Sharpstown,Angela Thompson,"2212 Green Avenue, Ann Arbor, MI 48104",313-591-2122
28,The Hitchhikers Guide to the Galaxy,Pan Books,Douglas Adams,"175 Fifth Avenue, New York, NY 10010",646-307-5745,5,2018-01-15,2018-02-15,"32 Corner Road, New York, NY 10012",Sharpstown,Angela Thompson,"2212 Green Avenue, Ann Arbor, MI 48104",313-591-2122
47,The Lost Tribe,Picador USA,Mark Lee,"175 Fifth Avenue, New York, NY 10010",646-307-5745,5,2018-01-03,2018-02-03,"32 Corner Road, New York, NY 10012",Sharpstown,Angela Thompson,"2212 Green Avenue, Ann Arbor, MI 48104",313-591-2122
52,The Name of the Wind,DAW Books,Patrick Rothfuss,"375 Hudson Street, New York, NY 10014",212-366-2000,5,2018-01-12,2018-02-12,"491 3rd Street, New York, NY 10014",Central,Tom Li,"981 Main Street, Ann Arbor, MI 48104",734-902-7455
71,Hard Boiled Wonderland and The End of the World,Shinchosa,Haruki Murakami,"Oga Bldg. 8, 2-5-4 Sarugaku-cho, Chiyoda-ku, T...",+81-3-5577-6507,5,2018-01-15,2018-02-15,"491 3rd Street, New York, NY 10014",Central,Angela Thompson,"2212 Green Avenue, Ann Arbor, MI 48104",313-591-2122
76,The Hitchhikers Guide to the Galaxy,Pan Books,Douglas Adams,"175 Fifth Avenue, New York, NY 10010",646-307-5745,5,2018-01-15,2018-02-15,"491 3rd Street, New York, NY 10014",Central,Angela Thompson,"2212 Green Avenue, Ann Arbor, MI 48104",313-591-2122
95,The Lost Tribe,Picador USA,Mark Lee,"175 Fifth Avenue, New York, NY 10010",646-307-5745,5,2018-01-03,2018-02-03,"491 3rd Street, New York, NY 10014",Central,Angela Thompson,"2212 Green Avenue, Ann Arbor, MI 48104",313-591-2122
100,The Name of the Wind,DAW Books,Patrick Rothfuss,"375 Hudson Street, New York, NY 10014",212-366-2000,5,2018-01-12,2018-02-12,"40 State Street, Saline, MI 48176",Saline,Tom Li,"981 Main Street, Ann Arbor, MI 48104",734-902-7455
119,Hard Boiled Wonderland and The End of the World,Shinchosa,Haruki Murakami,"Oga Bldg. 8, 2-5-4 Sarugaku-cho, Chiyoda-ku, T...",+81-3-5577-6507,5,2018-01-15,2018-02-15,"40 State Street, Saline, MI 48176",Saline,Angela Thompson,"2212 Green Avenue, Ann Arbor, MI 48104",313-591-2122
124,The Hitchhikers Guide to the Galaxy,Pan Books,Douglas Adams,"175 Fifth Avenue, New York, NY 10010",646-307-5745,5,2018-01-15,2018-02-15,"40 State Street, Saline, MI 48176",Saline,Angela Thompson,"2212 Green Avenue, Ann Arbor, MI 48104",313-591-2122
143,The Lost Tribe,Picador USA,Mark Lee,"175 Fifth Avenue, New York, NY 10010",646-307-5745,5,2018-01-03,2018-02-03,"40 State Street, Saline, MI 48176",Saline,Angela Thompson,"2212 Green Avenue, Ann Arbor, MI 48104",313-591-2122
148,The Name of the Wind,DAW Books,Patrick Rothfuss,"375 Hudson Street, New York, NY 10014",212-366-2000,5,2018-01-12,2018-02-12,"101 South University, Ann Arbor, MI 48104",Ann Arbor,Tom Li,"981 Main Street, Ann Arbor, MI 48104",734-902-7455
167,Hard Boiled Wonderland and The End of the World,Shinchosa,Haruki Murakami,"Oga Bldg. 8, 2-5-4 Sarugaku-cho, Chiyoda-ku, T...",+81-3-5577-6507,5,2018-01-15,2018-02-15,"101 South University, Ann Arbor, MI 48104",Ann Arbor,Angela Thompson,"2212 Green Avenue, Ann Arbor, MI 48104",313-591-2122
172,The Hitchhikers Guide to the Galaxy,Pan Books,Douglas Adams,"175 Fifth Avenue, New York, NY 10010",646-307-5745,5,2018-01-15,2018-02-15,"101 South University, Ann Arbor, MI 48104",Ann Arbor,Angela Thompson,"2212 Green Avenue, Ann Arbor, MI 48104",313-591-2122
191,The Lost Tribe,Picador USA,Mark Lee,"175 Fifth Avenue, New York, NY 10010",646-307-5745,5,2018-01-03,2018-02-03,"101 South University, Ann Arbor, MI 48104",Ann Arbor,Angela Thompson,"2212 Green Avenue, Ann Arbor, MI 48104",313-591-2122

remove duplicates

In [24]:
df.drop_duplicates(inplace=True)

last Check for duplicates and null values

In [25]:
df.duplicated().sum()

0

fill empty cells data sets that have 'Not Available' value

In [99]:
df['publisher_PublisherAddress'].replace('Not Available	',' 375 Hudson Street, New York, NY 10014')

0      375 Hudson Street, New York, NY 10014
1      375 Hudson Street, New York, NY 10014
2      375 Hudson Street, New York, NY 10014
3      375 Hudson Street, New York, NY 10014
4      375 Hudson Street, New York, NY 10014
                       ...
187    375 Hudson Street, New York, NY 10014
188    375 Hudson Street, New York, NY 10014
189     175 Fifth Avenue, New York, NY 10010
190     175 Fifth Avenue, New York, NY 10010
191     175 Fifth Avenue, New York, NY 10010
Name: publisher_PublisherAddress, Length: 192, dtype: object

In [101]:
df['publisher_PublisherPhone'].replace('Not Available	',' 12-366-2000')

0      212-366-2000
1      212-366-2000
2      212-366-2000
3      212-366-2000
4      212-366-2000
           ...
187    212-366-2000
188    212-366-2000
189    646-307-5745
190    646-307-5745
191    646-307-5745
Name: publisher_PublisherPhone, Length: 192, dtype: object

In [26]:
df.isnull().sum()

book_Title                      0
book_PublisherName              0
book_authors_AuthorName         0
publisher_PublisherAddress      0
publisher_PublisherPhone        0
book_copies_No_Of_Copies        0
book_loans_DateOut              0
book_loans_DueDate              0
library_branch_BranchAddress    0
library_branch_BranchName       0
borrower_BorrowerName           0
borrower_BorrowerAddress        0
borrower_BorrowerPhone          0
dtype: int64

Explority Data Analysis Phase(EDA)

In [36]:
df.head(5)

,book_Title,book_PublisherName,book_authors_AuthorName,publisher_PublisherAddress,publisher_PublisherPhone,book_copies_No_Of_Copies,book_loans_DateOut,book_loans_DueDate,library_branch_BranchAddress,library_branch_BranchName,borrower_BorrowerName,borrower_BorrowerAddress,borrower_BorrowerPhone
0,The Name of the Wind,DAW Books,Patrick Rothfuss,"375 Hudson Street, New York, NY 10014",212-366-2000,5,2018-01-01,2018-02-02,"32 Corner Road, New York, NY 10012",Sharpstown,Joe Smith,"1321 4th Street, New York, NY 10014",212-312-1234
1,The Name of the Wind,DAW Books,Patrick Rothfuss,"375 Hudson Street, New York, NY 10014",212-366-2000,5,2018-01-07,2018-02-07,"32 Corner Road, New York, NY 10012",Sharpstown,Haley Jackson,"231 52nd Avenue New York, NY 10014",212-419-9935
2,The Name of the Wind,DAW Books,Patrick Rothfuss,"375 Hudson Street, New York, NY 10014",212-366-2000,5,2018-01-12,2018-02-12,"32 Corner Road, New York, NY 10012",Sharpstown,Tom Li,"981 Main Street, Ann Arbor, MI 48104",734-902-7455
3,The Name of the Wind,DAW Books,Patrick Rothfuss,"375 Hudson Street, New York, NY 10014",212-366-2000,5,2017-02-02,2018-03-02,"32 Corner Road, New York, NY 10012",Sharpstown,Angela Thompson,"2212 Green Avenue, Ann Arbor, MI 48104",313-591-2122
5,The Name of the Wind,DAW Books,Patrick Rothfuss,"375 Hudson Street, New York, NY 10014",212-366-2000,5,2018-01-22,2018-02-22,"32 Corner Road, New York, NY 10012",Sharpstown,Angela Thompson,"2212 Green Avenue, Ann Arbor, MI 48104",313-591-2122

In [6]:
# what is more book have NO of copies
max_copies=df['book_copies_No_Of_Copies'].max()
df[df['book_copies_No_Of_Copies']==max_copies]['book_Title']

191    The Lost Tribe
Name: book_Title, dtype: object

In [7]:
# what is less book have NO of copies
min_copies=df['book_copies_No_Of_Copies'].min()
df[df['book_copies_No_Of_Copies']==min_copies]['book_Title']

0    The Name of the Wind
Name: book_Title, dtype: object

In [15]:
# what is more puplisher have NO of copies for book
max_puplisher=df['book_copies_No_Of_Copies'].max()
df[df['book_copies_No_Of_Copies']==max_puplisher]['book_PublisherName']

191    Picador USA
Name: book_PublisherName, dtype: object

In [18]:
# top 5 books
df['book_Title'].value_counts().head(5)

The Name of the Wind                               24
Dune                                               16
The Hitchhikers Guide to the Galaxy                16
The Green Mile                                     16
Hard Boiled Wonderland and The End of the World    12
Name: book_Title, dtype: int64

In [19]:
# buttom 5 books
df['book_Title'].value_counts().tail(5)

Harry Potter and the Philosophers Stone     4
The Giving Tree                             4
Fight Club                                  4
Harry Potter and the Chamber of Secrets     4
Harry Potter and the Prisoner of Azkaban    4
Name: book_Title, dtype: int64

In [21]:
# what is more author have NO of copies for a book
max_copies_authorr=df['book_copies_No_Of_Copies'].max()
df[df['book_copies_No_Of_Copies']==max_copies_authorr]['book_authors_AuthorName']

191    Mark Lee
Name: book_authors_AuthorName, dtype: object

In [23]:
# what is less author have NO of copies for a book
min_copies_authorr=df['book_copies_No_Of_Copies'].min()
df[df['book_copies_No_Of_Copies']==min_copies_authorr]['book_authors_AuthorName']

0    Patrick Rothfuss
Name: book_authors_AuthorName, dtype: object

In [32]:
round(df.groupby('book_loans_DateOut').mean()['book_copies_No_Of_Copies'],0)

C:\Users\AS\AppData\Local\Temp\ipykernel_17196\898471946.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  round(df.groupby('book_loans_DateOut').mean()['book_copies_No_Of_Copies'],0)

book_loans_DateOut
1/1/18       81.0
1/12/18      76.0
1/13/18      99.0
1/14/18     104.0
1/15/18      98.0
1/19/18      88.0
1/22/18      78.0
1/3/18      104.0
1/4/18      103.0
1/5/18      114.0
1/7/18       84.0
1/9/18       86.0
12/12/17    102.0
2/2/17       76.0
2/3/18      118.0
Name: book_copies_No_Of_Copies, dtype: float64

In [28]:
df.sample(4)

,book_Title,book_PublisherName,book_authors_AuthorName,publisher_PublisherAddress,publisher_PublisherPhone,book_copies_No_Of_Copies,book_loans_DateOut,book_loans_DueDate,library_branch_BranchAddress,library_branch_BranchName,borrower_BorrowerName,borrower_BorrowerAddress,borrower_BorrowerPhone
36,Holes,Scholastic,Louis Sachar,"557 Broadway, New York, NY 10012",800-724-6527,37,1/3/18,2/3/18,"32 Corner Road, New York, NY 10012",Sharpstown,Michael Horford,"653 Glen Avenue, Ann Arbor, MI 48104",734-998-1513
127,Brave New World,Chalto & Windus,Aldous Huxley,"375 Hudson Street, New York, NY 10014",212-366-2000,128,1/14/18,2/14/18,"40 State Street, Saline, MI 48176",Saline,Tom Li,"981 Main Street, Ann Arbor, MI 48104",734-902-7455
60,Dune,Chilton Books,Frank Herbert,Not Available,Not Available,61,1/1/18,2/2/18,"491 3rd Street, New York, NY 10014",Central,Joe Smith,"1321 4th Street, New York, NY 10014",212-312-1234
100,The Name of the Wind,DAW Books,Patrick Rothfuss,"375 Hudson Street, New York, NY 10014",212-366-2000,101,1/12/18,2/12/18,"40 State Street, Saline, MI 48176",Saline,Tom Li,"981 Main Street, Ann Arbor, MI 48104",734-902-7455

In [30]:
# top 2 borrowers
df['borrower_BorrowerName'].value_counts().head(2)

Tom Li             52
Angela Thompson    44
Name: borrower_BorrowerName, dtype: int64

In [33]:
# buttom 2 borrowers
df['borrower_BorrowerName'].value_counts().tail(2)

Harry Emnace     12
Haley Jackson     8
Name: borrower_BorrowerName, dtype: int64

In [34]:
# top 2 borrowers
df['borrower_BorrowerAddress'].value_counts().head(2)

981 Main Street, Ann Arbor, MI 48104      52
2212 Green Avenue, Ann Arbor, MI 48104    44
Name: borrower_BorrowerAddress, dtype: int64

In [39]:
# top 2 brnches
df['library_branch_BranchName'].value_counts().head(2)

Sharpstown    48
Central       48
Name: library_branch_BranchName, dtype: int64

In [40]:
# buttom 2 brnches
df['library_branch_BranchName'].value_counts().tail(2)

Saline       48
Ann Arbor    48
Name: library_branch_BranchName, dtype: int64

In [37]:
# top 2 brnchesaddress
df['library_branch_BranchAddress'].value_counts().head(2)

32 Corner Road, New York, NY 10012    48
491 3rd Street, New York, NY 10014    48
Name: library_branch_BranchAddress, dtype: int64

In [38]:
# buttom 2 brnchesaddress
df['library_branch_BranchName'].value_counts().tail(2)

Saline       48
Ann Arbor    48
Name: library_branch_BranchName, dtype: int64

In [42]:
# buttom 2 authors
df['book_authors_AuthorName'].value_counts().tail(2)

Shel Silverstein    4
Chuck Palahniuk     4
Name: book_authors_AuthorName, dtype: int64

In [43]:
# top 2 authors
df['library_branch_BranchName'].value_counts().head(2)

Sharpstown    48
Central       48
Name: library_branch_BranchName, dtype: int64

get more explority for the columns

In [55]:
df['book_Title'].value_counts()

The Name of the Wind                               24
Dune                                               16
The Hitchhikers Guide to the Galaxy                16
The Green Mile                                     16
Hard Boiled Wonderland and The End of the World    12
Brave New World                                    12
The Fellowship of the Ring                         12
A Game of Thrones                                  12
The Lost Tribe                                     12
The Hobbit                                          8
Eragon                                              8
It                                                  8
The Princess Bride                                  8
Holes                                               8
Harry Potter and the Philosophers Stone             4
The Giving Tree                                     4
Fight Club                                          4
Harry Potter and the Chamber of Secrets             4
Harry Potter and the Prisoner of Azkaban            4
Name: book_Title, dtype: int64

In [56]:
df['book_Title'].unique()

array(['The Name of the Wind', 'It', 'The Green Mile', 'Dune',
       'The Hobbit', 'Eragon', 'Harry Potter and the Philosophers Stone',
       'Hard Boiled Wonderland and The End of the World',
       'The Giving Tree', 'The Hitchhikers Guide to the Galaxy',
       'Brave New World', 'The Princess Bride', 'Fight Club', 'Holes',
       'Harry Potter and the Chamber of Secrets',
       'Harry Potter and the Prisoner of Azkaban',
       'The Fellowship of the Ring', 'A Game of Thrones',
       'The Lost Tribe'], dtype=object)

In [57]:
df['book_Title'].nunique()

19

In [59]:
df['book_PublisherName'].value_counts()

DAW Books                    24
George Allen & Unwin         20
Signet Books                 16
Chilton Books                16
Pan Books                    16
Bloomsbury                   12
Shinchosa                    12
Chalto & Windus              12
Bantam                       12
Picador USA                  12
Viking                        8
Alfred A. Knopf               8
Harcourt Brace Jovanovich     8
Scholastic                    8
Harper and Row                4
W.W. Norton                   4
Name: book_PublisherName, dtype: int64

In [60]:
df['book_PublisherName'].nunique()

16

In [61]:
df['book_PublisherName'].unique()

array(['DAW Books', 'Viking', 'Signet Books', 'Chilton Books',
       'George Allen & Unwin', 'Alfred A. Knopf', 'Bloomsbury',
       'Shinchosa', 'Harper and Row', 'Pan Books', 'Chalto & Windus',
       'Harcourt Brace Jovanovich', 'W.W. Norton', 'Scholastic', 'Bantam',
       'Picador USA'], dtype=object)

In [62]:
df['book_authors_AuthorName'].nunique()

15

In [63]:
df['book_authors_AuthorName'].unique()

array(['Patrick Rothfuss', 'Stephen King', 'Frank Herbert',
       'J.R.R. Tolkien', 'Christopher Paolini', 'J.K. Rowling',
       'Haruki Murakami', 'Shel Silverstein', 'Douglas Adams',
       'Aldous Huxley', 'William Goldman', 'Chuck Palahniuk',
       'Louis Sachar', 'George R.R. Martin', 'Mark Lee'], dtype=object)

In [64]:
df['book_authors_AuthorName'].value_counts()

Patrick Rothfuss       28
Stephen King           24
J.R.R. Tolkien         20
Frank Herbert          16
Douglas Adams          16
J.K. Rowling           12
Haruki Murakami        12
Aldous Huxley          12
George R.R. Martin     12
Mark Lee               12
William Goldman         8
Louis Sachar            8
Christopher Paolini     4
Shel Silverstein        4
Chuck Palahniuk         4
Name: book_authors_AuthorName, dtype: int64

In [65]:
df['library_branch_BranchName'].nunique()

4

In [66]:
df['library_branch_BranchName'].unique()

array(['Sharpstown', 'Central', 'Saline', 'Ann Arbor'], dtype=object)

In [67]:
df['library_branch_BranchName'].value_counts()

Sharpstown    48
Central       48
Saline        48
Ann Arbor     48
Name: library_branch_BranchName, dtype: int64

In [68]:
df['library_branch_BranchAddress'].nunique()

4

In [70]:
df['library_branch_BranchAddress'].unique()

array(['32 Corner Road, New York, NY 10012',
       '491 3rd Street, New York, NY 10014',
       '40 State Street, Saline, MI 48176',
       '101 South University, Ann Arbor, MI 48104'], dtype=object)

In [71]:
df['library_branch_BranchAddress'].value_counts()

32 Corner Road, New York, NY 10012           48
491 3rd Street, New York, NY 10014           48
40 State Street, Saline, MI 48176            48
101 South University, Ann Arbor, MI 48104    48
Name: library_branch_BranchAddress, dtype: int64

In [72]:
df['borrower_BorrowerName'].nunique()

7

In [73]:
df['borrower_BorrowerName'].unique()

array(['Joe Smith', 'Haley Jackson', 'Tom Li', 'Angela Thompson',
       'Michael Horford', 'Tom Haverford', 'Harry Emnace'], dtype=object)

In [74]:
df['borrower_BorrowerName'].value_counts()

Tom Li             52
Angela Thompson    44
Joe Smith          28
Michael Horford    24
Tom Haverford      24
Harry Emnace       12
Haley Jackson       8
Name: borrower_BorrowerName, dtype: int64

In [75]:
df['borrower_BorrowerAddress'].value_counts()

981 Main Street, Ann Arbor, MI 48104      52
2212 Green Avenue, Ann Arbor, MI 48104    44
1321 4th Street, New York, NY 10014       28
653 Glen Avenue, Ann Arbor, MI 48104      24
23 75th Street, New York, NY 10014        24
121 Park Drive, Ann Arbor, MI 48104       12
231 52nd Avenue New York, NY 10014         8
Name: borrower_BorrowerAddress, dtype: int64

In [76]:
df['borrower_BorrowerAddress'].nunique()

7

In [77]:
df['borrower_BorrowerAddress'].unique()

array(['1321 4th Street, New York, NY 10014',
       '231 52nd Avenue New York, NY 10014',
       '981 Main Street, Ann Arbor, MI 48104',
       '2212 Green Avenue, Ann Arbor, MI 48104',
       '653 Glen Avenue, Ann Arbor, MI 48104',
       '23 75th Street, New York, NY 10014',
       '121 Park Drive, Ann Arbor, MI 48104'], dtype=object)

In [80]:
df['book_copies_No_Of_Copies'].describe()

count    192.000000
mean      96.500000
std       55.569776
min        1.000000
25%       48.750000
50%       96.500000
75%      144.250000
max      192.000000
Name: book_copies_No_Of_Copies, dtype: float64

In [81]:
df['book_Title'].describe()

count                      192
unique                      19
top       The Name of the Wind
freq                        24
Name: book_Title, dtype: object

In [82]:
df['book_authors_AuthorName'].describe()

count                  192
unique                  15
top       Patrick Rothfuss
freq                    28
Name: book_authors_AuthorName, dtype: object

In [83]:
df['book_PublisherName'].describe()

count           192
unique           16
top       DAW Books
freq             24
Name: book_PublisherName, dtype: object

In [84]:
df['library_branch_BranchAddress'].describe()

count                                    192
unique                                     4
top       32 Corner Road, New York, NY 10012
freq                                      48
Name: library_branch_BranchAddress, dtype: object

In [85]:
df['library_branch_BranchName'].describe()

count            192
unique             4
top       Sharpstown
freq              48
Name: library_branch_BranchName, dtype: object

In [87]:
df['borrower_BorrowerAddress'].describe()

count                                      192
unique                                       7
top       981 Main Street, Ann Arbor, MI 48104
freq                                        52
Name: borrower_BorrowerAddress, dtype: object

In [88]:
df['borrower_BorrowerName'].describe()

count        192
unique         7
top       Tom Li
freq          52
Name: borrower_BorrowerName, dtype: object

In [94]:
df.sample(10)

,book_Title,book_PublisherName,book_authors_AuthorName,publisher_PublisherAddress,publisher_PublisherPhone,book_copies_No_Of_Copies,book_loans_DateOut,book_loans_DueDate,library_branch_BranchAddress,library_branch_BranchName,borrower_BorrowerName,borrower_BorrowerAddress,borrower_BorrowerPhone
28,The Hitchhikers Guide to the Galaxy,Pan Books,Douglas Adams,"175 Fifth Avenue, New York, NY 10010",646-307-5745,29,1/15/18,2/15/18,"32 Corner Road, New York, NY 10012",Sharpstown,Angela Thompson,"2212 Green Avenue, Ann Arbor, MI 48104",313-591-2122
138,A Game of Thrones,Bantam,George R.R. Martin,"375 Hudson Street, New York, NY 10014",212-366-2000,139,1/5/18,2/5/18,"40 State Street, Saline, MI 48176",Saline,Tom Haverford,"23 75th Street, New York, NY 10014",212-631-3418
69,Hard Boiled Wonderland and The End of the World,Shinchosa,Haruki Murakami,"Oga Bldg. 8, 2-5-4 Sarugaku-cho, Chiyoda-ku, T...",+81-3-5577-6507,70,1/3/18,2/3/18,"491 3rd Street, New York, NY 10014",Central,Tom Li,"981 Main Street, Ann Arbor, MI 48104",734-902-7455
94,The Lost Tribe,Picador USA,Mark Lee,"175 Fifth Avenue, New York, NY 10010",646-307-5745,95,1/3/18,2/3/18,"491 3rd Street, New York, NY 10014",Central,Angela Thompson,"2212 Green Avenue, Ann Arbor, MI 48104",313-591-2122
24,The Giving Tree,Harper and Row,Shel Silverstein,"HarperCollins Publishers, 195 Broadway, New Yo...",212-207-7000,25,12/12/17,1/12/17,"32 Corner Road, New York, NY 10012",Sharpstown,Tom Haverford,"23 75th Street, New York, NY 10014",212-631-3418
148,The Name of the Wind,DAW Books,Patrick Rothfuss,"375 Hudson Street, New York, NY 10014",212-366-2000,149,1/12/18,2/12/18,"101 South University, Ann Arbor, MI 48104",Ann Arbor,Tom Li,"981 Main Street, Ann Arbor, MI 48104",734-902-7455
147,The Name of the Wind,DAW Books,Patrick Rothfuss,"375 Hudson Street, New York, NY 10014",212-366-2000,148,2/2/17,3/2/18,"101 South University, Ann Arbor, MI 48104",Ann Arbor,Angela Thompson,"2212 Green Avenue, Ann Arbor, MI 48104",313-591-2122
60,Dune,Chilton Books,Frank Herbert,Not Available,Not Available,61,1/1/18,2/2/18,"491 3rd Street, New York, NY 10014",Central,Joe Smith,"1321 4th Street, New York, NY 10014",212-312-1234
9,The Green Mile,Signet Books,Stephen King,"375 Hudson Street, New York, NY 10014",212-366-2000,10,1/7/18,2/7/18,"32 Corner Road, New York, NY 10012",Sharpstown,Joe Smith,"1321 4th Street, New York, NY 10014",212-312-1234
187,A Game of Thrones,Bantam,George R.R. Martin,"375 Hudson Street, New York, NY 10014",212-366-2000,188,1/3/18,2/3/18,"101 South University, Ann Arbor, MI 48104",Ann Arbor,Joe Smith,"1321 4th Street, New York, NY 10014",212-312-1234

            -----------------------------------------------Finished ----------------------------------------------------------
           Now :Power BI Dashboard